html, body, #root{
  margin: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

a:hover {
  opacity: 1;
}

select {
  border: 1px solid black;
  border-radius: 6px;
  height: 2rem;
  padding-left: 1rem;
}
